INDEXER_URL=https://wazuh.indexer:9200
INDEXER_USERNAME=admin
INDEXER_PASSWORD=change-me
API_USERNAME=wazuh-wui
API_PASSWORD=change-me
WAZUH_API_URL=https://wazuh.manager
DASHBOARD_USERNAME=kibanaserver
DASHBOARD_PASSWORD=kibanaserver
SURICATA_INTERFACE=enp1s0
